<nav class="navbar navbar-inverse" role="navigation">


  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tweet Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'tweet_list' %}">Greetings</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="{% url 'add_n_tweet' %}">Just tweet</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
		{% if request.user.is_authenticated %}
		<li><a href="javascript:void(0);">{{request.user.username}}</a></li>
		{% else %}
        <li><a href="{% url 'twitter_login' %}">Login Twitter</a></li>
		{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->



</nav>

    